<template>
  <div class="{{ dashCase name }}-container"></div>
</template>

<script>
  import { defineComponent, reactive, toRefs } from 'vue'

  export default defineComponent({
    name: '{{ properCase name }}</script>
</script>
