/* vue 项目控制样式 */
html,
body,
#app {
  width: 100%;
  height: 100%;
}

/* 针对IE样式 */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
}

/* 长宽占比 */
.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.w50 {
  width: 50%;
}

.w33 {
  width: 33%;
}

.w25 {
  width: 25%;
}

/* 封装flex布局 */
.d-flex-items-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-flex-items-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.d-flex {
  display: flex;
}

.flex1 {
  flex: 1;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.justify-content-end {
  justify-content: end;
}

/* 行内元素对齐方式 */
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/* 首行缩进 */
.text-indent {
  text-indent: 2em;
}

/* float */
.fr {
  float: right;
}

.fl {
  float: left;
}

/* 点击手势 */
.cp {
  cursor: pointer;
}

/* margin */
.m-1 {
  margin: 10px;
}

.m-2 {
  margin: 20px;
}

.m-auto {
  margin: 0 auto;
}

.mr-auto {
  margin-right: auto !important;
}

.ml-auto {
  margin-left: auto !important;
}

.mt-1 {
  margin-top: 10px;
}

.mt-2 {
  margin-top: 20px;
}

.mt-3 {
  margin-top: 30px;
}

.mt-4 {
  margin-top: 40px;
}

.mt-5 {
  margin-top: 50px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-1 {
  margin-left: 10px;
}

.ml-2 {
  margin-left: 20px;
}

.ml-3 {
  margin-left: 30px;
}

.ml-4 {
  margin-left: 40px;
}

.ml-50 {
  margin-left: 50px;
}

.mr-1 {
  margin-right: 10px;
}

.mr-2 {
  margin-right: 20px;
}

.mr-3 {
  margin-right: 30px;
}

.mr-4 {
  margin-right: 40px;
}

.mr-5 {
  margin-right: 50px;
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mb-3 {
  margin-bottom: 30px;
}

.mb-4 {
  margin-bottom: 40px;
}

.mb-5 {
  margin-bottom: 50px;
}

/* padding */
.p-1 {
  padding: 10px;
}

.p-2 {
  padding: 20px;
}

.p-3 {
  padding: 30px;
}

.pt-1 {
  padding-top: 10px;
}

.pt-2 {
  padding-top: 20px;
}

.pt-3 {
  padding-top: 30px;
}

.pb-1 {
  padding-bottom: 10px;
}

.pb-2 {
  padding-bottom: 20px;
}

.pb-3 {
  padding-bottom: 30px;
}

.pl-1 {
  padding-left: 10px;
}

.pl-2 {
  padding-left: 20px;
}

.pl-3 {
  padding-left: 30px;
}

.pl-4 {
  padding-left: 40px;
}

.pl-5 {
  padding-left: 50px;
}

.pr-1 {
  padding-right: 10px;
}

.pr-2 {
  padding-right: 20px;
}

.pr-3 {
  padding-right: 30px;
}

/* 字体是否加粗 */
.font-normal {
  font-weight: normal;
}

.font-bold {
  font-weight: bold;
}

/* 字体大小 */
.fz12 {
  font-size: 12px;
}

.fz13 {
  font-size: 13px;
}

.fz14 {
  font-size: 14px;
}

.fz15 {
  font-size: 15px;
}

.fz17 {
  font-size: 17px;
}

.fz18 {
  font-size: 18px;
}

.fz19 {
  font-size: 19px;
}

.fz20 {
  font-size: 20px;
}

.fz24 {
  font-size: 24px;
}

.fz36 {
  font-size: 36px;
}

.fz46 {
  font-size: 46px;
}

/* color */
.c3 {
  color: #333;
}

.c6 {
  color: #666;
}

.c9 {
  color: #999;
}

.color-primary {
  color: #409eff;
}

.color-danger {
  color: #ff4d31;
}

.cf {
  color: #fff;
}

/* 不允许选中 */
.user-select-none {
  user-select: none;
}

/* 行高 */
.line-height-2 {
  line-height: 2;
}

/* 最多显示一行,内容过长省略显示 */
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 最多显示两行,内容过长省略显示 */
.answer-body {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

::-webkit-scrollbar {
  /* 滚动条整体部分 */
  width: 10px;
  margin-right: 2px;
}

::-webkit-scrollbar-button {
  /* 滚动条两端的按钮 */
  width: 10px;
  height: 0;
  background-color: transparent;
}

::-webkit-scrollbar:horizontal {
  height: 3px;
  margin-bottom: 2px;
}

::-webkit-scrollbar-track {
  /* 外层轨道 */
  border-radius: 10px;
}

::-webkit-scrollbar-track-piece {
  /* 内层轨道，滚动条中间部分 */
  background-color: #e5e4e4;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  /* 滑块 */
  width: 10px;
  border-radius: 5px;
  background: #cecece;
}

::-webkit-scrollbar-corner {
  /* 边角 */
  width: 2px;
}

::-webkit-scrollbar-thumb:hover {
  /* 鼠标移入滑块 */
  background: #a9a9a9;
}

[v-cloak] {
  display: none;
}
